/.metadata/
/wasm-micro-runtime/
/test-tools/binarydump-tool/build/
/wasm-applications/hello-world-rust/target/
/R9A02G021_WAMR_Interp/
/R9A02G021_WAMR_Interp_HelloWorld/HardwareDebug/
/R9A02G021_WAMR_Interp_HelloWorld/trash/

